<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fiveofteam.super_club.dao.ClubLevelMapper">
  <resultMap id="BaseResultMap" type="com.fiveofteam.super_club.pojo.ClubLevel">
    <id column="uu_id" jdbcType="VARCHAR" property="uuId" />
    <result column="cl_name" jdbcType="VARCHAR" property="clName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    uu_id, cl_name, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from club_level
    where uu_id = #{uuId,jdbcType=VARCHAR}
  </select>
  <select id="selectClubLevelList" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    uu_id,cl_name
    from club_level
  </select>
  <!--查询指定社团级别名称数量-->
  <select id="selectClubLevelByName" parameterType="java.lang.String" resultType="java.lang.Integer">
    select
    count(uu_id)
    from club_level
    where  cl_name = #{clName,jdbcType=VARCHAR}
  </select>
  <!--查询指定社团级别名称数量-->
  <select id="selectClubLevelByNameAndId" parameterType="com.fiveofteam.super_club.pojo.ClubLevel" resultType="java.lang.Integer">
    select
    count(uu_id)
    from club_level
    where  cl_name = #{clName,jdbcType=VARCHAR} and uu_id != #{uuId,jdbcType=VARCHAR}
  </select>
  <!--查询指定社团级别名称数量-->
  <select id="selectClubLevelById" parameterType="java.lang.String" resultType="java.lang.Integer">
    select
    count(uu_id)
    from club_level
    where  uu_id = #{uuId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from club_level
    where uu_id = #{uuId,jdbcType=VARCHAR}
  </delete>
  <!--删除指定社团级别-->
  <delete id="deleteClubLevelById" parameterType="java.lang.String">
    delete from club_level
    where uu_id = #{uuId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.fiveofteam.super_club.pojo.ClubLevel">
    insert into club_level (uu_id, cl_name, update_time
      )
    values (#{uuId,jdbcType=VARCHAR}, #{clName,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fiveofteam.super_club.pojo.ClubLevel">
    insert into club_level
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uuId != null">
        uu_id,
      </if>
      <if test="clName != null">
        cl_name,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uuId != null">
        #{uuId,jdbcType=VARCHAR},
      </if>
      <if test="clName != null">
        #{clName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fiveofteam.super_club.pojo.ClubLevel">
    update club_level
    <set>
      <if test="clName != null">
        cl_name = #{clName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where uu_id = #{uuId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fiveofteam.super_club.pojo.ClubLevel">
    update club_level
    set cl_name = #{clName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where uu_id = #{uuId,jdbcType=VARCHAR}
  </update>
</mapper>